@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("circular-std-medium-500"),
      url("../../fonts/circular-std-medium-500.ttf") format("truetype");
  }
.why-content {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    height: auto;
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.why-content.show {
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}