#navmenu {
    color: black;
}

#nav {
    margin-right: 10%;
}

#header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.header {
    background-color: transparent;
}

.header-bg {
    background-color: rgb(224,235,227, 0.9);
    height: 90px;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width:769px) {
    #navmenu {
        color: #fff;
    }

    #nav {
        margin-right: 0;
    }
}