@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("circular-std-medium-500"),
      url("../../fonts/circular-std-medium-500.ttf") format("truetype");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color:transparent;
    z-index: 999;
    position: absolute;
    width: 100%;
}

.header-bg {
    background-color:rgb(250,250,250);
    height: 75px;
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: transparent;
    width: 100%;

}

.logo {
    /* width: 5%; */
    height: 50px;
    
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    color: #2E312F;
}

.contact,
.faq,
.whynearpays {
    text-decoration: none;
    color: #000;
    font-size: 98%;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 400;
    background-color: transparent;
  

}

.contact-bg,
.faq-bg,
.whynearpays-bg{
    text-decoration: none;
    color: #000;
    font-size: 98%;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 400;
  

}



.contact:hover {
    border-bottom: 1px solid #fff ;
  }

  .faq:hover {
    border-bottom: 1px solid #fff ; 
  }
  .whynearpays:hover {
    border-bottom: 1px solid #fff ;
  }
  
  .contact-bg:hover {
      border-bottom: 1px solid #043F2E ;
    }
  
    .faq-bg:hover {
      border-bottom: 1px solid #043F2E ; 
    }
    .whynearpays-bg:hover {
      border-bottom: 1px solid #043F2E ;
    }

.register-button {
    position: relative;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-color:#fff ;
    padding: 10px 16px;
    width: 135px;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    color: #043F2E;
    cursor: pointer;

    filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
    
   
    
}

.register-button:hover {
    background: #043F2E;
    color: #fff;
}

.register-button-bg {
    position: relative;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-color:#fff ;
    padding: 10px 16px;
    width: 135px;
    height: 40px;
    background: #043F2E;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    border-color: #043F2E;

    filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.1));
    
    
}

.login:hover {
    color:#fff;
    background: #fff ;

}

.mobile-menu-icon, .mobile-menu-icon-bg {
    display: none;
}

@media screen and (max-width: 1024px) {
   
    .contact,
    .faq,
    .whynearpays {
        font-size: 12px;
    }
}

@media screen and (max-width: 860px) {
    .mobile-menu-icon {
        font-size: 20px;
        background-color: transparent;
        color: #fff;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 30px;
        outline: none;
        top: 10px;
        margin-left: 80%;
       

    }

    .mobile-menu-icon-bg {
        font-size: 20px;
        background-color: transparent;
        color: #000;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 30px;
        outline: none;
        top: 10px;
        margin-left: 80%;
       

    }

    .nav-links{
        display: none;
    }

    .logo {
        display: flex;
        position: absolute;
        top: 20px;
        left: 10px;
        width: 20%;
       
    }

    .logo-bg {
        display: flex;
        position: absolute;
        top: 20px;
        left: 10px;
        width: 20%;
       
    }

    .nav-links-mobile {
        position: absolute;
        display: flex;
        height: 650px;
        padding-top: 100px;
        flex-direction: column;
        list-style: none;
        background-color: rgba(36, 34, 34, 0.9);
        box-shadow: 0 8px 32px 0 rgba(190, 188, 31, 0.37);
        backdrop-filter: blur(8px);
        border-radius: 13px;
        top: 75px;
        transition: all 0.8s ease-in-out;
        width: 100%;
        z-index: 999;
        gap: 20px;
        text-align: center;
    }

  
   
    .contact,
    .faq,
    .whynearpays {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        padding:15px;
        background-color: #043F2E;
        cursor: pointer;
        margin-top: 20px;
        width: 50%;
        left: 25%;
        border-radius: 4px;
        transition: all 0.9s ease-in-out;
    }

   
  
    .contact-bg,
    .faq-bg,
    .whynearpays-bg {
        position: relative;
        text-decoration: none;
        color: #043F2E;
        font-size: 16px;
        padding:15px;
        background-color: #fff;
        cursor: pointer;
        margin-top: 20px;
        width: 50%;
        left: 25%;
        border-radius: 4px;
        transition: all 0.9s ease-in-out;
    }

    .register-button {
        position: relative;
        margin-top: 20px;
        width: 50%;
        color: #fff;
        background-color: #043F2E;
        left: 3%;
       
        
    }

    .register-button-bg {
        position: relative;
        margin-top: 20px;
        width: 50%;
        color: #fff;
        border-color: #fff;
        left: 3%;
        
    }

 
}