@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("circular-std-medium-500"),
      url("../../fonts/circular-std-medium-500.ttf") format("truetype");
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color:#E8F3EB;
    z-index: 999;
}

.header-bg {
    background-color: rgb(224,235,227, 0.9);
    height: 75px;
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: transparent;
    width: 100%;

}


.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    color: #2E312F;
}

.home,
.contact,
.faq,
.whynearpays {
    text-decoration: none;
    color: #2E312F;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#register-button {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 16px;
    width: 135px;
    height: 40px;
    background: #043F2E;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
   
    
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 769px) {
    .mobile-menu-icon {
        font-size: 20px;
        background-color: transparent;
        color: #333333;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 30px;
        outline: none;
        margin-top: 15px;
        margin-left: 80%;
       

    }

    .nav-links{
        display: none;
    }

    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 10px;
        width: 20%;
       
    }

    .nav-links-mobile {
        position: absolute;
        display: flex;
        height: 500px;
        padding-top: 100px;
        flex-direction: column;
        list-style: none;
        background-color: rgba(255,255,255, .65);
        box-shadow: 0 8px 32 px 0 rgba(31, 38, 135, .37);
        backdrop-filter: blur(4px);
        border-radius: 13px;
        top: 75px;
        transition: all 0.8s ease-in-out;
        width: 100%;
        z-index: 999;
        text-align: center;
    }

    .home,
    .contact,
    .faq,
    .whynearpays {
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 16px;
        padding:15px;
        background-color: rgb(224,235,227, 0.8);
        cursor: pointer;
        margin-top: 20px;
        width: 50%;
        margin-left: 25%;
        border-radius: 10px;
        transition: all 0.9s ease-in-out;
    }

    #register-button {
        margin-top: 20px;
        width: 50%;
       
        
    }

 
}