.updatecontainer {
    height: 100px;
    width: 100%;
    padding: 10% 50%;
}

.update-btn {
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    gap: 10px;
    top: 750px;
    left: 35%;
    width: 30%;
    height: 65px;
    background: #043F2E;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
}