.loading-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(255, 255, 255, 0.994)
        url("https://lukeshubstorage.blob.core.windows.net/images/loading.gif") center
        no-repeat;
    z-index: 1;

}