/* Slideshow */

.slideshow {
    position: relative;
    overflow: hidden;
    max-width: 80%;
    height: 650px;
    z-index: 5;
    left: 10%;
    border-radius: 20px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .swipe {
    display: inline-block;
    height: 700px;
    width: 100%;
    border-radius: 20px;
  
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }
  
  @media screen and (max-width: 769px) {
    .slideshow {
        position: relative;
        overflow: hidden;
        max-width: 90%;
        height: 350px;
        /* z-index: 5; */
        left: 5%;
       
      }

      .swipe {
        display: inline-block;
        height: 350px;
        width: 100%;
        border-radius: 20px;
        object-fit: contain !important;
      
      }
}