.sign-in-section {
    height: 655px;
    background-color: #161E19;
}

.sign-in-container {
    position: relative;
    width: 50%;
    height: 455px;
    left: 25%;
    top: 58px;
    background: #E0EBE3;
    border-radius: 4px;
    z-index: 2;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.auth-header {
    
    width: 100%;
    text-align: center;
    height: 122px;
    margin-top: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    color: #2E312F;

}

.sign-in-input {
    width: 70%;
    margin-left: 15%;
    height: 64px;
    padding: 2%;
    background: #D3E0D7;
    border-radius: 4px;
    border: none;
    outline: none;
}

.btn-section {
    position: absolute;
    top: 350px;
    display: flex;
    width: 70%;
    left: 15%;
    justify-content: space-between;

}

#sign-in-btn1 {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    width: 40%;
    height: 55px;
    background: #043F2E;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#sign-in-btn2 {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    width: 180px;
    height: 55px;
    background: #043F2E;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#sign-up-text {
    position: absolute;
    margin-top: 430px;
    margin-left: 15%;
}

#sign-in-text {
    position: absolute;
    margin-top: 770px;
    margin-left: 50%;
}

.sign-up-section {
    position: relative;
    height: 995px;
    
    background-color: #161E19;
}

.sign-up-container {
    position: relative;
    width: 50%;
    top: 58px;
    height: 855px;
    left: 25%;
    background: #E0EBE3;
    border-radius: 4px;
    z-index: 2; 
}

.sign-up-btn {
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    gap: 10px;
    top: 750px;
    left: 15%;
    width: 30%;
    height: 65px;
    background: #043F2E;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.auth-text {
    position: absolute;
    left: 70%;
    top: 30px;

}
@media screen and (max-width:880px){

    .sign-in-container {
        position: relative;
        width: 50%;
        height: 555px;
        left: 25%;
        top: 58px;
        background: #E0EBE3;
        border-radius: 4px;
        z-index: 2;
    }
    .sign-up-container {
        position: relative;
        width: 70%;
        height: 695px;
        left: 15%;
        top: 38px;
        background: #E0EBE3;
        border-radius: 4px;
        z-index: 2;
    }

    .btn-section {
        position: absolute;
        top: 350px;
        display: flex;
        flex-direction: column;
        width: 70%;
        left: 15%;
        justify-content: space-between;
        gap: 20px;
    
    }
    #sign-in-btn2 {
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 20px 16px;
        width: 100%;
        height: 50px;
        background: #043F2E;
        border-radius: 4px;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    #sign-in-btn1 {
        position: relative;
        justify-content: center;
        align-items: center;
        padding: 20px 16px;
        width: 100%;
        height: 50px;
        background: #043F2E;
        border-radius: 4px;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    #sign-up-text {
        position: absolute;
        width: 100%;
        margin-top: 500px;
        text-align: center;
        margin-left: 0;
    }
}
@media screen and (max-width: 769px) {
    .sign-in-container {
        position: relative;
        width: 70%;
        height: 555px;
        left: 15%;
        top: 58px;
        background: #E0EBE3;
        border-radius: 4px;
        z-index: 2;
    }
    .sign-up-container {
        position: relative;
        width: 70%;
        height: 595px;
        left: 15%;
        top: 38px;
        background: #E0EBE3;
        border-radius: 4px;
        z-index: 2;
    }
    .sign-up-btn {
        position: relative;
        width: 70%;
        left: 15%;
        top: 15px;

    }

    #sign-in-text {
        position: relative;
        margin-top: 15px;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .auth-header {
        font-size: 38px;
    }
}